
.accordion-toggle {
	background-color: #457B9D;
	display: block;
	padding: 10px;
	margin: -10px -15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  }
/* 
  .accordion-toggle.collapsed {
	background-color: white;
  } */

.accordion-body {
	background-color: #C6E0FF;
	color: black;
}



