#sidebar {
	padding-right: 0px;
	background-color: #457B9D;
}

#sidebar a {
	color: white;
	text-decoration: none;
}

#sidebar  div{
	align-items: center;
	padding-left: 2em;
}
.selected{
	margin-top: 3.5em;
	margin-bottom: 0.5em;
	margin-right: 0px;
	padding: 0.2em;
	color: #696047;
	text-align: center;
	background-color: #C6E0FF;
}

#sidebar a:hover {
	color: black;
}


img{
	width: 30%;
}

