
body{
	/* background-color: #F4FFFD; */
}

.cs-primary{
	padding-left: 200px;
	color: #F4FFFD;
	background-color: #1D3557;
}


.cs-secondary{
	color: #F4FFFD;
	background-color: #457B9D;
}

.cs-tertiary{
	color: #000;
	/* background-color: #C6E0FF; */
}

.icon-heading{
	margin: 0.5em;
}


input{
	padding: 0.1em;
	width: 20%;
	border-radius: 30px;
}




.a-button{
	width: fit-content;
	background-color: #457B9D;
	margin-right: 0.5em;
}