
#cart-heading{
	display: contents;
}


#cart-heading-div{
	vertical-align: 0px;
	margin: auto 1.5em;
}

.price strong{
	font-size: 2em;
}

.price{
	text-align: center;
	margin: auto ;
}


.price-amount{
	font-weight: bolder;
}

.product-image{
	width: 4em;
	height: 2em;
}


